@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
}

p {
  font-family: "Athiti", sans-serif;
}

* {
  box-sizing: border-box;
}

.Appbar {
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.MenuImage {
  object-fit: cover;
  height: 90%;
  width: 90%;
  border-radius: 10px;
}

.VegetableItem {
  object-fit: cover;
  height: 70%;
  width: 90%;
  border-radius: 10px;
}

.VegetableDetailImage {
  object-fit: cover;
  height: 300px;
  width: 300px;
  border-radius: 10px;
}
